.filter {
  height: 55px;
  font-size: 15px;
  border-bottom: 0.5px solid #0e48b6;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 60.5px;

  &__search {
    padding: 5px 10px 5px 30px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;

    background-image: url('../assets/loupe.png');
    -webkit-background-size: contain;
    background-size: 18px 18px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
  }

  &__search::placeholder {
    font-size: 15px;
    color: rgba(14, 72, 182, 0.5);
  }
}


