.hero {
  position: relative;
  height: 250px;
  width: 100%;
  padding: 25px 10px;
  background: url("../assets/background-board-book-733854.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
