.hero {
  height: 250px;
  margin: 0 auto;
  background: url("../assets/background-board-book-733854.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  &__content-wrap {
    position: relative;
    padding: 25px 10px;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
}
