.hero {
  position: relative;
  //height: 250px;
  height: 40vh;
  margin: 0 auto;
  //background: url("../assets/background-board-book-733854.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @media(min-height: 800px) {
    //height: 300px;
  }

  &__content-wrap {
    position: relative;
    padding: 25px 10px;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
}
