.userblock {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2%;

  .userblock__inner {
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 110px;
    padding: 15px 3% 13px 3%;
    border-bottom: 0.5px solid rgba(14, 72, 182, 0.30);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.user__stretch {
  display: flex;
}

.user__nickname-wrap {
  width: 65px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__nickname-wrap > div {
  width: 65px;
  text-align: center;

}

.user__nickname {
  overflow-wrap: break-word;
  font-size: 10px;
  color: #656565;
}

.user__id {
  font-size: 10px;
  color: #656565;
}

.user__name-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user__name {
  font-size: 20px;
}

.user__email {
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 13px;
  color: #656565;
}

.user__city {
  font-size: 13px;
  color: #656565;
}

.user__pending-box {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  color: #656565;
}

.user__pending-nr {
  font-size: 15px;
}

.user__pending-text {
  width: 45px;
}

.user__link {
  margin: auto 0 auto 15px;
}

/* Modifiers ***************************/

/* Responsivity ************************/

@media (min-width: 400px) {
  .user__nickname-wrap {
    margin-right: 10px;
  }

  .user__nickname {
    font-size: 12px;
  }

  .user__pending-text {
    width: 50px;
    font-size: 12px;
  }

  .user__email,
  .user__city {
    font-size: 15px;
  }

  .user__link {
    margin: auto 0 auto 30px;
  }
}

@media (min-width: 600px) {
  .user__nickname-wrap {
    margin-right: 55px;
  }

  .user__link {
    margin: auto 0 auto 50px;
  }
}
