.task {
  height: 110px;
  padding: 0 12px;
  max-width: 700px;
  margin: 0 auto;
}

.task .container {
  height: 110px;
  padding: 15px 0 13px 0;
  border-bottom: 0.5px solid rgba(225, 159, 98, 0.51);
  display: flex;
  justify-content: space-between;
}

.task .firsthalf,
.task .secondhalf {
  display: flex;
}

.task .first {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task .icon {
  height: 20px;
}

.task .icon > img {
  height: 100%;
}

.task .done {
  background-color: rgba(83, 255, 29, 0.15);
}

.task .pending {
  background-color: rgba(0, 0, 255, 0.15);
}

.task .second {

  display: flex;
  align-items: center;
}

.task .tasktext:first-letter {
  text-transform: capitalize;
}

.task .third {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task .third div:nth-child(2) {
  margin-top: 5px;
}

@media (min-width: 400px) {
  .task .tasktext {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .task .tasktext {
    font-size: 17px;
  }
}