.user-block {
  max-width: 700px;
  margin: 0 auto;

  .user-block__centered {
    padding: 0 12px;
  }

  .user-block__inner {
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 110px;
    padding: 15px 3% 13px 3%;
    border-bottom: 0.5px solid rgba(14, 72, 182, 0.30);
    margin: 0 auto;
  }
}
