.filter {
  height: 35px;
  font-size: 15px;
  border-bottom: 0.5px solid #0e48b6;
  padding: 12px 15px;
}

.filter .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputfield {
  background-color: rgba(14, 72, 182, 0.10);
  padding: 5px 10px;
  border-style: none;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.filter .search {
  height: 30px;
}

.filter .search > img {
  height: 100%;
}
