/*

This stylesheet is written in BEM

Block = .block
Element = block__element
Modifier = block__element--modifier / .block--modifier

*/

/* Blocks ******************************/


/* Elements ****************************/


/* Modifiers ***************************/




/* ----------------------------------- */

.user {
  height: 110px;
  padding: 0 2%;
}

.user .container1 {
  height: 110px;
  max-width: 700px;
  margin: 0 auto;
}

.user .container2 {
  height: 110px;
  padding: 15px 3% 13px 3%;
  border-bottom: 0.5px solid rgba(14, 72, 182, 0.30);
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

.user .container2:hover {
  background-color: rgba(14, 72, 182, 0.10);
}

.user .firsthalf,
.user .secondhalf {
  display: flex;
}

.user .first {
  width: 65px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user .first > div {
  width: 65px;
  text-align: center;
}

.user .nick {
  max-width: 70px;
  overflow-wrap: break-word;
}

.user .second {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user .email {
  text-decoration: underline;
}

.user .third {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user .third > div:nth-child(2) {
  width: 45px;
}

.user .fourth {
  margin: auto 0 auto 15px;
}

@media (min-width: 400px) {
  .user .first {
    margin-right: 10px;
  }

  .user .nick,
  .user .id {
    font-size: 12px;
  }

  .user .third > div:nth-child(2) {
    width: 50px;
    font-size: 12px;
  }

  .user .email,
  .user .city {
    font-size: 15px;
  }

  .user .fourth {
    margin: auto 0 auto 30px;
  }
}

@media (min-width: 600px) {
  .user .first {
    margin-right: 55px;
  }

  .user .nick {
    max-width: 115px;
    overflow-wrap: break-word;
  }

  .user .fourth {
    margin: auto 0 auto 50px;
  }
}