.user {
  height: 110px;
  padding: 0 12px;
}

.user .container {
  height: 110px;
  padding: 15px 0 13px 0;
  border-bottom: 0.5px solid #0e48b6;
  display: flex;
  justify-content: space-between;
}

.user .firsthalf,
.user .secondhalf {
  display: flex;
}

.user .first {
  width: 65px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user .nick {
  max-width: 70px;
  overflow-wrap: break-word;
}

.user .userimage {
  height: 20px;
}

.user .userimage > img {
  height: 100%;
}

.user .second {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user .email {
  text-decoration: underline;
}

.user .third {
  text-align: right;
}

.user .third > div:nth-child(1) {
  margin-top: 8px;
}

.user .third > div:nth-child(2) {
  width: 30px;
}

.user .fourth {
  margin: auto 0 auto 30px;
}

.user .fourth > div {
  height: 20px;
}

.user .fourth > div > img {
  height: 100%;
}

@media (min-width: 400px) {
  .user .nick,
  .user .id {
    font-size: 12px;
  }

  .user .third > div:nth-child(2) {
    width: 40px;
    font-size: 12px;
  }

  .user .email,
  .user .city {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .user .first {
    width: 115px;
    padding-right: 15px;

  }

  .user .nick {
    max-width: 115px;
    overflow-wrap: break-word;
  }
}